<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>First Page</title>
    </head>
    <body>
        <div id="app">
            <div v-if="appIndex == 'list'">
                <ol>
                    <employee v-for="employee in employees" v-on:click.native="switchView('details',employee.id)" v-bind:name="employee.name" :key="employee.id"></employee>
                </ol>
                <input v-model="input" />
                <button v-on:click="createEmployee">Add Employee</button>
                <p v-if="error">Invalid Name for Employee</p>
            </div>
            <div v-if="appIndex == 'details'">
                <div>
                    <button v-on:click="goToMain">Back</button>
                </div>
                <div>
                    Employee Details
                </div>
                <div>
                    Name: {{employees[employeeId].name}}
                </div>
            </div>
        </div>
    </body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    Vue.component('employee', {
        props: ['name'],
        template: "<li><button>{{name}}</button></li>"
    })

    function Employee(id, name) {
        this.id = id;
        this.name = name;
    }

    var app = new Vue({
        el: '#app',
        data: {
            employees: [
                new Employee(0,"Daniel"),
                new Employee(1,"Pranav")
            ],
            input: "",
            error: false,
            appIndex: "list",
            employeeId: 0
        },
        methods: {
            switchView: function (view,id) {
                this.appIndex = view;
                this.employeeId = id;
            },
            createEmployee: function () {
                if (this.input != "") {
                    this.error = false;
                    this.employees.push(new Employee(this.employees.length,this.input));
                    this.input = "";
                } else {
                    this.error = true;
                }
            },
            goToMain() {
                this.appIndex = "list";
            }
        }
    })
</script>