<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>First Page</title>
    </head>
    <body>
        <div id="app">
            <div v-if="appIndex == 'list'">
                <ol>
                    <employee v-for="employee in employees" v-bind:name="employee.name" :key="employee.id"></employee>
                </ol>
                <input v-model="input" />
                <button v-on:click="createEmployee">Add Employee</button>
                <p v-if="error">Invalid Name for Employee</p>
            </div>
            <div v-if="appIndex == 'details'">
                <div>
                    Employee Details
                </div>
                <div v-model="employees[this.detailId].name">

                </div>
            </div>
        </div>
    </body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    Vue.component('employee', {
        props: ['name'],
        template: '<li>{{name}}</li>'
    })

    function Employee(id, name) {
        this.id = id;
        this.name = name;
    }

    var app = new Vue({
        el: '#app',
        data: {
            employees: [
                new Employee(0,"Daniel"),
                new Employee(1,"Pranav")
            ],
            input: "",
            error: false,
            appIndex: "list",
            detailId: 0
        },
        methods: {
            switchView: function (view) {
                this.appIndex = view;
            },
            createEmployee: function () {
                if (this.input != "") {
                    this.error = false;
                    this.employees.push(new Employee(this.employees.length,this.input));
                    this.input = "";
                } else {
                    this.error = true;
                }
            }
        }
    })
</script>